/* home page for user after they login 
*main page to use the tool* */

/* tab format courtesy of  w3schools.com */

body {
    /* background: rgb(88,160,255);
    background: linear-gradient(216deg, rgba(88,160,255,1) 0%, rgba(255,255,255,1) 59%); */
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background color courtesy of https://cssgradient.io/ */  
    color: rgb(16, 86, 177);
    font-family: Helvetiva Neue, Helvetica, Arial;
}
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
}


.output{
    margin-bottom: 30px;
}

section .container{
    padding: 60px 120px;
}

h4{
    font-size: 45px;
    font-weight: bold;
    color: rgb(50, 138, 252);
}

input, label:not(.unit-estimate, .yoy), select{
    margin-bottom: 40px;
}

input{
    height: 30px;
    width: 120px;
    border: 1px solid silver;
    border-radius: 15px;
    padding-left: 15px;
    color: rgb(141, 141, 141);
    font-size: 18px;
    outline: none;
    transition: .4s;
}

input:focus{
    border: 1px solid rgba(228,228,228,1);
    box-shadow: 0 0 5px rgba(19,119,250,1);
}

label{
    /* height: 20px; */
    font-size: 25px;
}

/* removes increment arrow on input
    courtesy of w3schools.com*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

p{
    font-size: 24px;
    margin-left: 180px;
}

.update, .submit{
    width: 120px;
    height: 40px;
    background:white;
    border-radius: 10px;
    color:rgba(19,119,250,1);
    font-size: 20px;
    cursor: pointer;
    border: none;
    transition: ease-in-out 0.2s;
}

input:hover, .submit:hover, .update:hover{
    background-color: rgb(245, 245, 245);
}

output{
    margin-left: 100px;
}


* {box-sizing: border-box;}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 10px;
  font-size: 20px;
  font-weight: bold;
  width: 25%;
  margin-top: 0px;
  transition: ease-in-out .3s;
}

.tablink.business{
    background-color: rgb(209, 209, 209);
}

.tablink.metrics{
    background-color: rgb(192, 191, 191);
}

.tablink.expenses{
    background-color: rgb(173, 173, 173);
}

.tablink.profit{
    background-color: rgb(163, 163, 163);
}


.tablink:hover{
  background-color:rgb(54, 140, 253);
  opacity: .9;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: rgb(107, 107, 107);
  padding: 20px;
}

#business {background-color: rgb(209, 209, 209);}
#metrics {background-color: rgb(192, 191, 191);}
#expenses {background-color: rgb(173, 173, 173);}
#profit {background-color: rgb(163, 163, 163)}