/* contact page for the user */
body {
    /* background:  rgba(255,255,255,1); */
    background: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background color courtesy of https://cssgradient.io/ */  
        color: white;
        font-family: Helvetiva Neue, Helvetica, Arial;
    }

