/* contact page for the user */
body {
    /* background:  rgba(255,255,255,1); */
    background: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background color courtesy of https://cssgradient.io/ */  
        color: white;
        font-family: Helvetiva Neue, Helvetica, Arial;
    }

    * {box-sizing: border-box;}
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: vertical;
  font-weight: bold;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 8px black;
}
            
input[type=submit] {
  background-color: white;
  color: rgba(19,119,250,1);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
            
input[type=submit]:hover{
  background-color: rgb(216, 214, 214);
}
            
/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: rgba(19,119,250,1);
  padding: 5px;
  margin: 25px 100px;
}
            
/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 40px;
}
            
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
            
/* Responsive */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

