/* MAIN PAGE */

/* overall text color and font */

body {
    background: white;
/* background:linear-gradient( rgba(19,119,250,1) 72%, rgba(19,119,250,1) 98%); */

/* background color courtesy of https://cssgradient.io/ */
    font-family: Helvetiva Neue, Helvetica, Arial;
}

/* Main passage */
section .main text, .main image{
    display: inline-block;
    padding: 40px;
}

button.main.button{
    margin-left: 200px;
}

section.li.main{
    position: fixed;
    bottom: 200px;
    top: 200px;

}

section h2.header{
    position: fixed;
    top: 200px;
    font-size: xx-large;
    color: black;
}

section p.words{
    position: fixed;
    top: 260px;
    font-size: larger;
    color: silver;
}

strong{
    color: rgba(19,119,250,1);
}

section .main.image{
    position: fixed;
    left: 650px;
    top: 210px;
}

.learnmore{
    margin-left: 220px;
    color: rgba(19,119,250,1);;
    border-radius: 20px;
    border: 2px solid rgba(19,119,250,1);
    padding: 8px;
    text-decoration: none;
    opacity: 0.9;
    transition: 0.3s;
}

.learnmore:hover{ 
    opacity: 1;
}