/* MAIN PAGE */

/* overall text color and font */

body {
    background: rgb(88,160,255);
    background: linear-gradient(216deg, rgba(88,160,255,1) 0%, rgba(255,255,255,1) 59%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

/* background color courtesy of https://cssgradient.io/ */
    font-family: Arial, Helvetica, sans-serif;
}

/* Main passage */
section .main text, .main image{
    display: inline-block;
    padding: 40px;
}

button.main.button{
    margin-left: 200px;
}

section.li.main{
    position: fixed;
    bottom: 200px;
    top: 200px;

}

section h2.header{
    position: fixed;
    top: 200px;
    font-size: 35px;
    color: black;
    margin-left: 25px;
}

section p.words{
    position: fixed;
    top: 280px;
    font-size: 21px;
    color: rgb(139, 139, 139);
    margin-left: 25px;
}

strong{
    color: rgba(19,119,250,1);
}

section .main.image{
    position: fixed;
    left: 640px;
    top: 260px;
}

.learnmore{
    margin-left: 240px;
    background-color: white;
    color: rgba(19,119,250,1);;
    border-radius: 20px;
    border: 2px solid rgba(19,119,250,1);
    padding: 8px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.learnmore:hover{ 
    background:rgb(243, 243, 243);
}