header a{
    color: rgba(19,119,250,1);
    text-decoration: none;
    font-size: 23px;
 }

/*  hover effects for the navigation links*/
.navigation li:not(.logo, .username){
    transition: .5s ease-in-out;
 }

.navigation li:hover:not(.logo, .username), .navigation li:active:not(.logo, .username){
        transform: scale(1.1);
 }
/*  */

header .logo a{
    background-image: url("../images/insightlogo.png");
    background-size: 100px;
    background-repeat: no-repeat;
    text-indent: -999999px;
    display: inline-block;
    margin-right: 20px;
    height: 100px;
    position: relative;
    top: -20px;
    width: 100px;
}

/* navigation buttons */
ul {
    margin: 0;
    padding: 0;
}


ul.navigation{
    /* border: 14px solid rgba(19,119,250,1); */
    border-radius: 180px;
    margin-top: 24px;
    width: 100%;
    height: 90px;
    list-style: none;
}

li{
    display: inline-block;
    margin: 30px;
}

.username a:hover{
    background:rgb(18, 108, 224);

}

.username a{
    position: absolute;
    right: 5%;
    border-radius: 20px;
    color:white;
    background-color: rgba(19,119,250,1);
    font-size: 20px;
    cursor: pointer;
    border: 1px solid rgb(214, 212, 212);
    transition: ease-in-out 0.3s;
    padding: 8px 20px;
}
